{% extends 'base.html' %}
{% block head %}
    <header class="masthead" style="background-image: url({{ url_for('static', filename='img/home-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ legend }}</h1>
            <span class="subheading">The right to expression should not be taken for granted.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
            {{ form.title.label }}<br>
            {{ form.title(placeholder='Title') }}
            {% for error in form.title.errors%}
            <p class="help-block text-danger">[{{ error }}]</p>
            {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
        {{ form.content.label }}<br>
        {{ form.content(rows=5,cols=60,placeholder='Content') }}
        {% for error in form.content.errors%}
        <p class="help-block text-danger">[{{ error }}]</p>
        {% endfor %}
            </div>
        </div>
    <p>
        {{ form.submit(class='btn btn-outline-info') }}
    </p>
        </form>
      </div>
    </div>
</div>
{% endblock %}