{% extends 'base.html' %}
{% block head %}
    Login
{% endblock %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
        {% for error in form.email.errors%}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% for error in form.password.errors%}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.remember_me() }}
        {{ form.remember_me.label }}
    </p>
    <p>
        {{ form.submit() }}
    <small class="text-muted m-1"><a href="{{ url_for('users.request_reset') }}">Forgot Password?</a></small>
    </p>
</form>

<small class="text-muted">New User? <a href="{{ url_for('users.register')}}">Sign Up here!</a></small>
{% endblock %}